body {
}
.div-navbar {
    text-transform: uppercase;
    padding: 0px;
    height: auto;
    width: 100%;
    background-color: rgba(225,225,225,0.1);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    position:absolute;
    z-index:3;
}
.nav-item .nav-link {
    color: white;
}
    .nav-item .nav-link:hover {
        color: rgba(19, 148, 235, 0.345);
        font-weight: bold;
        opacity: 1;
    }

.border-card {
    border: 15px solid #D9D9D9;
    border-radius: 10px;
    background: #D9D9D9;
    animation:Up 2s ease;
}

.img-border {
    border-radius: 10px;
}   

.card-list-tour p {
    font-style: italic;
    margin: 0 20px 0 20px;
}

.card-list-tour h3 {
    margin-top: 10px;
    font-weight: bold;
    margin: 0 20px 0 20px;
}
.card-list-tour-text-center {
    text-align: center;
    padding: 30px 0;
}
.card-list-tour a {
    color: black;
    font-weight: bold;
    font-size: 25px;
    border: 3px solid none;
    border-radius: 10px;
    white-space: nowrap
}

.border-card img {
    width: 450px;
    height: 300px;
    object-fit: cover;
    animation:Right 2s ease;
}

.hover-link:hover {
    color: dodgerblue
}
.head
{
    height:40vh;
    position:relative;
}
#hero-image {
    height: 40vh;
    width:100%;
    position: absolute;
    object-fit:cover;
    object-position:bottom;
}
.hero-image {
 height:40vh;
 width:100%;
 object-fit:cover;
 filter:brightness(99%)blur(0.5px);

}
/*Phân trang
*/
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

    .pagination a {
        color: #ffffff;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color 0.3s;
        border: 1px solid #007bff;
        background: #5cb85c;
        font-weight: bold;
        border: 1px solid #5cb85c;
    }

    .pagination .active {
        background-color: black;
        color: black;
    }

    .pagination .prev, .pagination .next {
        margin: 0 5px;
        border-radius:10px;
    }

    .pagination a:hover:not(.active) {
        background-color: #f2f2f2;
        color:black
    }

    .pagination a, .pagination .prev, .pagination .next {
        font-size: 16px;    
    }


/*    form search    */
.form-inline {
    display: flex;
    align-items: center;
    margin:25px;
    width:auto;
    height:auto;
}

    .form-inline input[type="text"],
    .form-inline input[type="number"],
    .form-inline button {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 14px;
    }

    .form-inline input[type="text"],
    .form-inline input[type="number"] {
        flex: 0 0 150px; 
        margin-right: 10px; 
    }

    .form-inline button {
        background-color: #007bff;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .form-inline input[type="text"]:hover,
        .form-inline input[type="number"]:hover,
        .form-inline button:hover {
            border-color: #007bff;
        }

        .form-inline input[type="text"]:focus,
        .form-inline input[type="number"]:focus,
        .form-inline button:focus {
            outline: none;
            border-color: #007bff;
            box-shadow: 0 0 5px #007bff;
        }

        .form-inline button:hover {
            background-color: #0056b3;
        }

    .form-inline input[type="text"],
    .form-inline input[type="number"],
    .form-inline button {
        font-family: Arial, sans-serif;
    }
    .form-inline i{
        margin:10px 30px 10px 0px;
    }
@media (max-width: 768px) {
    .form-inline {
        flex-direction: column;
    }

        .form-inline input[type="text"],
        .form-inline input[type="number"],
        .form-inline button {
            margin-bottom: 10px;
        }

        .form-inline i {
            margin-right: 0;
            margin-bottom: 5px;
            display: block;
        }

        .form-inline button {
            margin-left: 0;
        }
}
@keyframes Up {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes Right {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}