body {
}
.div-navbar {
    text-transform: uppercase;
    padding: 0px;
    height: auto;
    width: 100%;
    background-color: rgba(225,225,225,0.1);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    position:absolute;
    z-index:3;
}

.nav-item .nav-link {
    color: white;
}
    .nav-item .nav-link:hover {
        color: rgba(19, 148, 235, 0.345);
        font-weight: bold;
        opacity: 1;
    }

.border-card {
    border: 15px solid #D9D9D9;
    border-radius: 10px;
    background: #D9D9D9;
}

.img-border {
    border-radius: 10px;
}

.card-list-tour p {
    font-style: italic;
    margin: 0 20px 0 20px;
}

.card-list-tour h3 {
    margin-top: 10px;
    font-weight: bold;
    margin: 0 20px 0 20px;
}
.card-list-tour-text-center {
    text-align: center;
    padding: 30px 0;
}
.card-list-tour a {
    color: black;
    font-weight: bold;
    font-size: 25px;
    border: 3px solid none;
    border-radius: 10px;
    white-space: nowrap
}

.border-card img {
    width: 450px;
    height: 300px;
    object-fit: cover;
}

.hover-link:hover {
    color: dodgerblue
}
.head
{
    height:40vh;
    position:relative;
}
#hero-image {
    height: 40vh;
    width:100%;
    position: absolute;
    object-fit:cover;
    object-position:bottom;
}
.hero-image {
 height:40vh;
 width:100%;
 object-fit:cover;
 filter:brightness(99%)blur(0.5px);

}