* {
    box-sizing: border-box;
}

.div-navbar {
    text-transform: uppercase;
    padding: 0px;
    height: auto;
    width: 100%;
    background-image: linear-gradient(to bottom right, #00FFB4 0%, #0EB0DC 48%, #1D43B7 80%, #06006D 100%);
}

.nav-item .nav-link:hover {
    color: white;
    opacity: 1;
}
