body {
    margin: 0 auto;
    padding: 0;
    width: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

    body::-webkit-scrollbar {
        display: none;
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Roboto',sans-serif;
}
/*<!-- Navbar start -->*/
/*#navbar {
    background: none;
}*/
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom right, #00FFB4 0%, #0EB0DC 48%, #1D43B7 80%, #06006D 100%);
    transition: opacity 1s,visibility 1s;
    z-index: 10;
}

    .loader::after {
        content: "";
        width: 75px;
        height: 75px;
        border-radius: 100%;
        box-shadow: inset 2px 0 0 white, -2px 0 0 white;
        animation: loading 1s infinite linear;
    }

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader-hidden {
    opacity: 0;
    visibility: hidden;
}

#logo {
    font-size: 36px;
    font-weight: 300;
    color: white;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}


.div-navbar {
    text-transform: uppercase;
    padding: 0px;
    height: auto;
    width: 100%;
    background-color: rgba(225,225,225,0.1);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

#logo span {
    color: white;
}

.navbar-toggler span {
    color: #0094ff;
    font-weight: 700;
}

.nav-item .nav-link {
    font-size: 16px;
    font-weight: 700;
    color: white;
    letter-spacing: 1px;
    border-radius: 3px;
    transition: 0.5s ease;
    opacity: 1;
    justify-content: space-between;
    margin: 0px 16px 0px 16px;
}

    .nav-item .nav-link:hover {
        color: white;
        font-size: 18px;
        font-weight: bold;
        opacity: 1;
    }


#navbar form button {
    background: #0094ff;
    color: white;
    border: none;
}

.div-ggmap {
    height: auto;
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
}
/*<!-- Navbar End -->*/


/*<!-- Home start-- >*/
.home {
    width: 100%;
    height: 90vh;
    /*    background-image:url(~/Images/videoHome.mp4);
*/ background-repeat: no-repeat;
    background-size: cover;
    background-clip: content-box;
}

.back-video-image {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.home .content {
    text-align: center;
    padding-top: 200px;
    z-index: 1;
    text-transform: uppercase;
}

    .home .content h5 {
        color: white;
        font-size: 40px;
        font-weight: 500;
        text-shadow: 0px 1px 1px black;
    }

    .home .content h1 {
        color: white;
        font-size: 70px;
        font-weight: 600;
        text-shadow: 0px 1px 1px black;
        margin-top: 5px;
        height: auto;
        width: auto;
    }

    .home .content p {
        color: white;
        font-size: 20px;
        text-shadow: 0px 1px 1px black;
        margin-bottom: 30px;
        text-transform: none;
        font-style: italic;
        margin-top: 5px;
        font-weight: bold;
        width: auto;
        height: auto;
    }

.changecontent::after {
    content: ' ';
    color: #0094ff;
    text-shadow: 0px 1px 1px black;
    animation: changetext 20s infinite linear;
}

@keyframes changetext {
    0% {
        content: " Đà Lạt"
    }

    10% {
        content: " Nha Trang"
    }

    20% {
        content: " TP Hồ Chí Minh"
    }

    30% {
        content: " Hà Nội"
    }

    40% {
        content: " Đà Nẵng"
    }

    50% {
        content: " Huế"
    }

    60% {
        content: " Vũng Tàu"
    }

    70% {
        content: " Bình Ba"
    }

    80% {
        content: " Sa Pa"
    }

    90% {
        content: " Phan Thiết"
    }

    100% {
        content: " Phú Quốc"
    }
}

.home .content a {
    padding: 10px;
    background: white;
    color: black;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}

    .home .content a:hover {
        background: #0094ff;
        color: white;
    }

@media (max-width:850px) {
    .home {
        background-position: 50%;
    }
}

@media (max-width:450px) {
    .home .content h5 {
        font-size: 25px;
    }

    .home .content h1 {
        font-size: 40px;
    }

    .home .content p {
        font-size: 15px;
    }
}

.container-back-image {
    position: relative;
    text-align: center;
    color: black;
    padding: 0px;
}

.back-image {
    background-size: cover;
    object-fit: cover;
    background-attachment: fixed;
    position: relative;
    z-index: -1;
}

.back-image-gradients {
    background-image: linear-gradient(to bottom, rgba(10,10,24,0.5), rgba(27,27,150,0.5));
}

.back-image-text {
    position: absolute;
    margin: 0;
    z-index: 1;
    top: 0;
    left: 0%;
    color: white;
    font-weight: bold;
    font-size: 32px;
    width: 100%;
    height: auto;
    text-align: center;
}

.div-h1 {
    font-weight: 600;
    font-size: 4vw;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.col-md-3 h4 {
    color: black;
    font-weight: bold;
    font-size: 2vw;
    opacity: 0.6;
}

.col-md-3 h2 {
    color: red;
    font-weight: bold;
    font-size: 2vw;
}

    .col-md-3 h2:hover {
        font-size: 3vw;
    }

.col-tours {
    padding: 10px;
}

    .col-tours img {
        object-fit: cover;
        width: 100%;
        height: 400px;
        border: 1px solid white;
        border-radius: 7px;
    }

    .col-tours h3 {
        text-transform: uppercase;
        font-weight: bold;
        margin: 16px;
        font-size: 45px;
        margin-bottom: 15px;
        --color-1: white;
        --color-2: Orange;
        --color-3: yellow;
        animation: color-animation 4s linear infinite;
    }

@keyframes color-animation {
    0% {
        color: var(--color-1)
    }

    32% {
        color: var(--color-1)
    }

    33% {
        color: var(--color-2)
    }

    65% {
        color: var(--color-2)
    }

    66% {
        color: var(--color-3)
    }

    99% {
        color: var(--color-3)
    }

    100% {
        color: var(--color-1)
    }
}

.col-tours p {
    color: white;
    font-style: italic;
    font-size: 20px;
}

.col-3 i {
    font-size: 50px;
    margin: 16px;
    font-weight: 700;
}

.col-3 p {
    font-size: 20px;
    font-weight: 700;
    color: white;
}

/*scrolling text css-----------------------------------------------------------------------------------------------------*/

.marquee-container {
    height: 70px;
    overflow: hidden;
    margin: 16px;
    color: black;
    display: flex;
    width: 100%;
}

.marquee {
    top: 0;
    left: 100%;
    width: 100%;
    height: auto;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    animation: marquee 8s linear infinite;
}

.marquee2 {
    animation-delay: 3s;
}
@keyframes marquee {
    0% {
        left: 100%;
    }

    100% {
        left: -100%
    }
}
/*---------------------------------------------------------------------scrolling text css*/
/*---------------------*
//*animation text css*/
.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient( -225deg, red 0%, red 29%, red 67%, #0094ff 100% );
    background-size: auto auto;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
/*<!-- Home end-- >*/

/*animation image flid card*/
.flip-card {
    background-color: transparent;
    width: 100%;
    height: 400px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    background-color: white;
    border: 1px solid white;
    border-radius: 7px;
    color: red;
}

.flip-card-back {
    background-image: linear-gradient(to bottom right, #00FFB4 0%, #0EB0DC 48%, #1D43B7 80%, #06006D 100%);
    color: white;
    transform: rotateY(180deg);
    border: 1px solid white;
    border-radius: 7px;
}

/*animation image flip card*/


/*animation image overlay*/
.wrapper {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-image {
    width: 500px;
    position: relative;
}

.wrapper-content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}

    .wrapper-content:hover {
        opacity: 1;
    }

    .wrapper-content > * {
        transform: translateY(25px);
        transition: transform 0.6s;
    }

    .wrapper-content:hover > * {
        transform: translateY(0px);
    }
