@model TOURDL.Models.SPTOUR
@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>Tourists Reservation Form Responsive Widget Template :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Tourists Reservation Form template Responsive, Login form web template,Flat Pricing tables,Flat Drop downs Sign up Web Templates,
 Flat Web Templates, Login sign up Responsive web template, SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Custom Theme files -->
    <link href="/w3layout/w3layout/css/font-awesome.css" rel="stylesheet">
    <link href="/w3layout/w3layout/css/wickedpicker.css" rel="stylesheet" type='text/css' media="all" />
    <link href="/w3layout/w3layout/css/style.css" rel='stylesheet' type='text/css' />
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">


    <!--//fonts-->
</head>
<body>
    <!--background-->
    <h1> Tourists Reservation Form </h1>
    <div class="bg-agile">
        <div class="book-reservation">
            @using (Html.BeginForm("Create", "DatTour", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-date-w3-agileits">
                    <label><i class="fa fa-user" aria-hidden="true"></i> Họ và Tên :</label>
                    <input type="text" name="Name" placeholder="Your name" required="" />
                </div>
                <div class="form-date-w3-agileits">
                    <label><i class="fa fa-envelope" aria-hidden="true"></i> Email :</label>
                    <input type="email" name="Email" placeholder="Your email" required="" />
                </div>
                <div class="form-date-w3-agileits">
                    <label><i class="fa fa-calendar" aria-hidden="true"></i> Ngày đi :</label>
                    <input id="datepicker1" name="ArrivalDate" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">
                </div>
                <div class="form-date-w3-agileits">
                    <label><i class="fa fa-calendar" aria-hidden="true"></i> Ngày về :</label>
                    <input id="datepicker2" name="DepactureDate" type="text" value="mm/dd/yyyy" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'mm/dd/yyyy';}" required="">
                </div>
                <div class="form-left-agileits-w3layouts bottom-w3ls">
                    <label><i class="fa fa-home" aria-hidden="true"></i> Chọn Tour :</label>
                    @Html.DropDownListFor(m=>m.TenSPTour, new SelectList(ViewBag.Tour, "Value","Text"),new {@class="form-control"})
                </div>
                <div class="form-left-agileits-w3layouts">
                    <label><i class="fa fa-users" aria-hidden="true"></i> Số người :</label>
                    @Html.DropDownListFor(m => m.SoNguoi, new SelectList(ViewBag.Peoples, "Value", "Text"), new { @class = "form-control" })

                </div>
                <div class="clear"> </div>
                <div class="make">
                    <input type="submit" value="Make a Reservation">
                </div>
            }
        </div>
    </div>
    <!--copyright-->
    <div class="copy w3ls">
        <p>Copyright 2017 Tourists Reservation Form . All Rights Reserved  | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
    </div>
    <!--//copyright-->
    <script type="text/javascript" src="/w3layout/w3layout/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/w3layout/w3layout/js/wickedpicker.js"></script>
    <script type="text/javascript">
				$('.timepicker').wickedpicker({twentyFour: false});
    </script>


    <!-- Calendar -->
    <link rel="stylesheet" href="/w3layout/w3layout/css/jquery-ui.css" />
    <script src="/w3layout/w3layout/js/jquery-ui.js"></script>
    <script>
						  $(function() {
							$( "#datepicker,#datepicker1,#datepicker2,#datepicker3" ).datepicker();
						  });
    </script>
    <!-- //Calendar -->

    
</body>
</html>