/* BEGIN EXTERNAL SOURCE */
div {
text-align:center;font-size:40px;font-weight:bold;text-transform:uppercase;margin-top:20px; z-index:1; position:absolute; bottom:5%;left:5%;color:white
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
form {
padding-left:140px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
margin:5px
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
width:100%;height:auto;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
margin:20px 40px;border-radius:15px;box-shadow:1px 0px 5px #808080
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
div {
text-align:left;
}
/* END EXTERNAL SOURCE */
