@model PagedList.IPagedList<TOURDL.Models.SPTOUR>
@using PagedList.Mvc
@{
    ViewBag.Title = "DanhMucTour";
    Layout = "~/Views/Shared/CusLayout.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<link rel="stylesheet" href="~/CSS/DanhMucSanPhamVaTour.css" />

<div class="head">
    <div style="text-align:center;font-size:40px;font-weight:bold;text-transform:uppercase;margin-top:20px; z-index:1; position:absolute; bottom:5%;left:5%;color:white">trang chủ / Danh mục tour</div>
    <video autoplay loop muted plays-inline class="hero-image"><source src="~/Images/ocean.mp4" /></video>

</div>
<form asp-action="DanhMucTour" method="get" class="form-inline" style="padding-left:140px">
    <input type="text" name="name" placeholder="Nhập tên tour" />
    <i class="fa-solid fa-magnifying-glass"></i>

    <input type="number" name="to" placeholder="Giá từ" />
    <i class="fa-solid fa-up-long"></i>

    <input type="number" name="from" placeholder="Đến" />
    <i class="fa-solid fa-down-long"></i>
    <button><i style="margin:5px" class="fa-solid fa-magnifying-glass"></i>Search</button>
</form>
<div class="container" style="width:100%;height:auto;">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var item in Model)
        {
        <div class="col col-danhmuctour">
            <div class="card" style="margin:20px 40px;border-radius:15px;box-shadow:1px 0px 5px #808080">
                <img class="card-img-top" src="~/Images/@item.HinhAnh" alt="Card image cap">
                <div class="card-body" style="text-align:left;">
                    <p class="card-text" style="margin-bottom:0px; font-size:15px"> @Html.DisplayFor(modelItem => item.ID_TOUR)_@Html.DisplayFor(modelItem => item.ID_SPTour)</p>
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.TenSPTour)</h5>
                    <p class="card-text">@string.Format("{0:#,#}đ", Convert.ToDecimal(item.GiaNguoiLon))</p>
                    <a href="@Url.Action("ChiTietTour", "ChiTietTour", new { id = item.ID_SPTour })" class="btn btn-primary">Xem Chi Tiết</a>
                </div>
            </div>
        </div>
    }
    </div>
</div>


